@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Tags */
p {
    font-size: 1em;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 100%;
}

/* Misc */
.noselect {
    /* https://stackoverflow.com/a/9314458/12263846 */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}
.bold {
    font-weight: bold;
}
.clickable {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.big-red-halo {
    filter: drop-shadow(0 0 1em red);
}
.halo:hover {
    filter: drop-shadow(0 0 1em white);
}

/* Positioning */
.flex-column {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.center-inside-div {
    bottom: 50%;
    height: fit-content;
    height: -moz-fit-content;
    left: -50%;
    margin: auto;
    right: -50%;
    width: fit-content;
    width: -moz-fit-content;
    z-index: 1;
}

/* Playfield */
.playfield {
    background: radial-gradient(circle, rgba(0,196,0,1) 0%, rgba(0,157,0,1) 23%, rgba(0,54,0,1) 100%);
    border-radius: 1em;
    border: 0.2em solid;
    margin: auto;
    max-width: 80em;
    width: 95%;
}

/* Card related */
.card {
    filter: drop-shadow(0.2em 0.2em 0.4em black);
    width: 6em;
    transform-origin: center;
}
.tooltip {
    background-color: rgba(192, 192, 192, 0.8);
    border-radius: 5px;
    border: 0.1em black solid;
    box-shadow: 0 0 1em black;
    color: white;
    padding: 0.5em;
    pointer-events: none;
}
.color-change {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    border: 0.1em black solid;
    box-shadow: 0 0 1em black;
    height: 3em;
    width: 3em;
}

/* Playerbox */
.playerbox {
    margin-top: 1em;
}

/* Player container */
.player-container {
    height: 8em;
}
.cardBacks-container-height {
    max-height: 1.5em;
}
.cardBacks-container {
    flex-wrap: wrap;
    justify-content: center;
}

/* Hand container */
.hand-container {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;
}

/* Top card */
.topCard-container {
    justify-content: space-evenly;
    margin: auto;
    max-width: 30em;
    padding-top: 2em;
}
.topCard-tooltip {
    bottom: initial;
    font-size: 0.4em;
    left: 0%;
    top: 10%;
}
.playedCards {
    width: 6em;
}

/* Dialogs */
.dialog {
    background-color: rgba(0,0,0,0.4);
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.error-dialog {
    align-items: center;
    background: linear-gradient(0deg, rgba(0,128,0,1) 0%, rgba(0,224,0,1) 100%);
    border-radius: 1em;
    border: 0.2em solid orangered;
    box-shadow: 1em 1em 1em black;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1em;
}
.fatal-error {
    color: red;
    font-weight: bold;
}

/* Color picker */
.picker {
    align-items: flex-start;
    background: linear-gradient(0deg, rgba(0,128,0,1) 0%, rgba(0,224,0,1) 100%);
    border-radius: 1em;
    border: 0.2em solid darkgreen;
    box-shadow: 1em 1em 1em black;
    display: flex;
    margin: auto;
    padding: 1em;
}

/* Button */
.fancy-button {
    border-radius: 5em;
    border: 0.2em solid slategray;
    filter: drop-shadow(0 0.4em 0.3em black);
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
    padding: 0.5em;
}
.fancy-button:focus {
    outline: none;
}
.fancy-button:active {
    filter: drop-shadow(0 0.2em 0.1em black);
    transform: translateY(0.2em);
}
.button-holder {
    flex-wrap: nowrap;
    width: 10%;
}

/* Name dialog */
.name-dialog {
    align-items: center;
    background: linear-gradient(0deg, rgba(0,128,0,1) 0%, rgba(0,224,0,1) 100%);
    border-radius: 1em;
    border: 0.2em solid darkgreen;
    box-shadow: 1em 1em 1em black;
    display: flex;
    flex-direction: column;
    left: -50%;
    margin: auto;
    padding: 1em;
    position: absolute;
    right: -50%;
    top: 25%;
    width: fit-content;
    width: -moz-fit-content;
}
.name-input {
    border-radius: 5em;
    border: 0.2em solid slategray;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 1em;
}
.name-input:focus {
    outline: none;
}
.name-input-text {
    bottom: 0%;
    color: darkgrey;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 0.2em;
    padding-right: 1em;
    right: 6%;
}

/* Stats */
.stats-table {
    border-collapse: collapse;
    margin: 1em auto;
    text-align: center;
}
.stats-header {
    border-bottom: 0.1em solid black;
}
.stats-desc {
    min-width: 6em;
}

/* Logo */
.logo {
    display: block;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

/* ID */
#game {
    margin: auto;
}
